/**********************/
/* NEW SUPER GRAPH WITH FILTER */
/**********************/

.theme-dark .graph-view.color-fill-tag {
  color: #5dbcd2;
}

.theme-dark .graph-view.color-fill-attachment {
  color: #d669bc;
}

.theme-dark .graph-view.color-fill-unresolved {
  color: #9e8aff;
  Opacity:1;
}

.theme-dark .graph-view.color-arrow {
  color: #d669bc;
}

/**********************/
/* Graph View */
/**********************/

.graph-view.color-fill {
    color: #fcf601;
}
.graph-view.color-circle {
    color: #26798c;
}
.graph-view.color-line {
    color:  #26798c;
}

.graph-view.color-text {
    color: #cccccc;
}

.graph-view.color-fill-highlight {
    color: #26798c;
}
.graph-view.color-line-highlight {
    color: #5dbcd2;
}

